html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

aside {
    width: 270px;
    background-color: #121317;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #333;
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
}

aside::-webkit-scrollbar {
    width: 5px;
}

aside::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

aside::-webkit-scrollbar-track {
    background: #121317;
}

.user-select {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.user-select img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.logo_img {
    width: 70px;
    margin-left: 10px;
}

.side-nav {
    flex-grow: 1;
    margin-top: 10px;
}

.side-nav a {
    display: flex;
    align-items: center;
    padding: 14px 18px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 7px;
}

.side-nav a.active {
    background-color: #3d3f46;
    font-weight: bold;
}

.side-nav a:not(.active):hover {
    background-color: #2C2E34;
}

.quick-links {
    margin-top: 20px;
}

.quick-links .user-button {
    display: flex;
    align-items: center;
    padding: 14px 18px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 7px;
}

.quick-links .user-button.active {
    background-color: #3d3f46;
}

.quick-links .user-button:not(.active):hover {
    background-color: #2C2E34;
}

.quick-links .user-button i {
    margin-right: 20px;
    width: 20px;
    text-align: center;
}

.quick-links .user-button {
  position: relative;
  cursor: pointer;
}

.quick-links .user-button .user-popup {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1f2024;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 250px;
  z-index: 10;
  border-radius: 6px;
}

.quick-links .user-button .user-popup button {
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
  width: 100%;
  padding: 12px 16px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px; /* 폰트 크기 */
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quick-links .user-button .user-popup button:hover {
  background-color: #2C2E34; /* hover 시 밝은 회색 배경 */
}

.quick-links .user-button .user-popup button i {
  margin-right: 10px;
  width: 20px;
}